
///COLORES
$cyan: #2bb3b1;
$bright-yellow: #c0df34;
$white:#fff;
$light-gray: #e5eff5;
$grayish-blue: #98a6bd;
$skyblue:#4abebd;


///TYPHOGRAPHY


$primary-font:'Karla', sans-serif;
$body-size:16px;